POSTGRES_DB=p2p_shopping
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
JWT_SECRET=your-secret-key-here-at-least-32-characters-long
GEMINI_API_KEY=your-gemini-api-key
# Copy this file to .env and fill in real values.
SPRING_PROFILES_ACTIVE=local
TELEMETRY_API_KEY=your-secret-api-key-here
# delete the below line to use mongodb through docker
MONGO_URI=mongodb+srv://<USERNAME>:<PASSWORD>@<CLUSTER_URL>/<DB_NAME>?retryWrites=true&w=majority
