POSTGRES_DB=p2p_shopping
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
JWT_SECRET=your-secret-key-here-at-least-32-characters-long
SPRING_PROFILES_ACTIVE=dev
TELEMETRY_API_KEY=your-secret-api-key-here
MONGO_URI=